body {
    background-color: #1a1a1a;
    margin-left: 1em;
}

p {
    color: #ABABAB;
}

.wrap-text {
    word-wrap: break-word;
}

.brighter-color {
    color: #ABABAB;
}

.blue-color {
    color: #46BCDE;
}

.red-color {
    color: #B33D4D;
}

.noBottomMargin {
    margin-bottom: 0;
}

/* NAVBAR */

.navbar-collapse {
    padding-top:5px;
    padding-bottom:5px !important;
    padding-right: 25px; !important;
}

.dropdown-menu {
    width: 300px;
    border-top:0;
    margin-top:3px;
}
.dropdown-menu .col-sm-12 {
    margin-bottom:7px;
}

.dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    right: 10px;
}

/* SLIDERS */

.slider-handle {
    background: #000000;
}

.slider-track {
    top: 0 !important;
    background: #d85000;
}

.slider-selection {
    background: #5D5D5D;
}

#ratingSliderDiv .slider-selection {
    background: #d85000 !important;
}
#ratingSliderDiv .slider-track {
    background: #5D5D5D !important;
}

/* SWITCHES */

.bootstrap-switch{
    border: none;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-orange,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-orange {
    color: #fff;
    background: #d85000;
}

/* Buttons */

.btn-secondary {
    color: #ffffff;
    background-color: #777;
    border-color: #555;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #555555;
    border-color: #555555;
}

/* Tables */

.table {
    background-color: #383838;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(70, 70, 70);
}

/* CSS for Game page */

.align-player-info {
    top: 3px;
    position: relative;
}

.align-name-clock-bottom {
    width: 500px;
    margin-left: 0;
}

.align-name-clock-top {
    width: 500px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.left-game-top-username {
    float: left;
    color: #B33D4D;
}

.left-game-bottom-username {
    float: left;
    color: #46BCDE;
}

.right-game-top-username {
    float: right;
    color: #B33D4D;
}

.right-game-bottom-username {
    float: right;
    color: #46BCDE;
}

.left-game-clock {
    float: right;
    color: #d85000;
}

.right-game-clock {
    float: left;
    color: #d85000;
}