body {
    background-color: #1a1a1a;
    margin-left: 1em;
}
p {
    color: #ABABAB;
}
.wrap-text {
    width: 500px;
    word-wrap: break-word;
}
.brighter-color {
    color: #ABABAB;
}
.align-player-info {
    top: 3px;
    position: relative;
}