.title-username {
	text-align: center;
}

.title {
	display: inline;
	padding-right: 10px;
	color: #bf811d;
}

.username {
	display: inline;
}

.toggle-games-button {
	margin-top: 20px;
	margin-bottom: 15px;
}

.shaded-box {
	background-color: #262626;
	border: 1px solid #3d3d3d;
}

.center-text {
	text-align: center;
}
