.game-info-panel-container {
	text-align: center;
	width: 450px;
	background-color: #262626;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 15px;
	border: 1px solid #3d3d3d;
}

.align-player-info {
	top: 3px;
	position: relative;
	display: inline-block;
}

.player-separation {
	margin-right: 10px;
}

.versus {
	top: 7px;
	position: relative;
}

.game-termination {
	padding-top: 17px;
	font-weight: bold;
	text-decoration: underline;
	color: #759900;
}
