.gameActionsPanelContainer {
	padding-top: 17px;
}

.leftActionButton {
	margin-right: 10px;
}

.flash-button {
	background: #d85000;
	color: #ffffff;
	animation-name: flash;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

-webkit-animation-name: flash;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

-moz-animation-name: flash;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes flash {
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
}

@-moz-keyframes flash {
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
}
