@font-face {
    font-family: 'Comfortaa Regular';
    src: url('../fonts/NotoSans-Regular.ttf'),
         url('../fonts/NotoSans-Bold.ttf'),
         url('../fonts/NotoSans-Italic.ttf'),
         url('../fonts/NotoSans-BoldItalic.ttf')
}

body {
    background-color: #1a1a1a;
    margin-left: 1em;
    min-width: 1620px;
    font-family: 'Noto Sans', sans-serif;
}

.wrap-text {
    word-wrap: break-word;
}

.brighter-color {
    color: #ABABAB;
}

.blue-color {
    color: #46BCDE;
}

.red-color {
    color: #FB667A;
}

.noBottomMargin {
    margin-bottom: 0;
}

/* SLIDERS */

.slider-handle {
    background: #000000;
}

.slider-track {
    top: 0 !important;
    background: #d85000;
}

.slider-selection {
    background: #5D5D5D;
}

#ratingSliderDiv .slider-selection {
    background: #d85000 !important;
}
#ratingSliderDiv .slider-track {
    background: #5D5D5D !important;
}

/* SWITCHES */

.bootstrap-switch{
    border: none;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-orange,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-orange {
    color: #fff;
    background: #d85000;
}

/* Buttons */

.btn-secondary {
    color: #ffffff;
    background-color: #777;
    border-color: #555;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #555555;
    border-color: #555555;
}

/* Lobby Table */

#lobbyTable table.table-fixedheader {
    width: 100%;
}

#lobbyTable table.table-fixedheader, #lobbyTable table.table-fixedheader>thead, #lobbyTable table.table-fixedheader>tbody, #lobbyTable table.table-fixedheader>thead>tr, #lobbyTable table.table-fixedheader>tbody>tr, #lobbyTable table.table-fixedheader>thead>tr>th, #lobbyTable table.table-fixedheader>tbody>td {
    display: block;
}
#lobbyTable table.table-fixedheader>thead>tr:after, #lobbyTable table.table-fixedheader>tbody>tr:after {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#lobbyTable table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 500px;
}

#lobbyTable table.table-fixedheader>thead {
    overflow-y: scroll;
}

#lobbyTable table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
}

#lobbyTable table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
}

#lobbyTable table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td {
    float: left;
    word-wrap:break-word;
}

#lobbyTable .table {
    background-color: #383838;
}

#lobbyTable .table-hover tbody tr:hover, .table-hover tbody tr:hover th {
    background-color: #464646;
}

/* Modal */

.centerDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* CSS for Game page */

#infoPanel {
    position: relative;
    text-align: center;
    padding-top: 4em;
}

#infoPlayers {
    text-align: center;
    width: 450px;
    background-color: #262626;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid #3d3d3d;
}

.align-player-info {
    top: 3px;
    position: relative;
}

.align-name-clock-bottom {
    width: 500px;
    margin-left: 0;
}

.align-name-clock-top {
    width: 500px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.left-game-top-username {
    float: left;
    color: #FB667A;
}

.left-game-bottom-username {
    float: left;
    color: #46BCDE;
}

.right-game-top-username {
    float: right;
    color: #FB667A;
}

.right-game-bottom-username {
    float: right;
    color: #46BCDE;
}

.left-game-clock {
    float: right;
    color: #d85000;
}

.right-game-clock {
    float: left;
    color: #d85000;
}

/* Moves Table */

#movesTable {
    color:#A7A1AE;
    display: inline-block;
    border: 1px solid #3d3d3d;
}

#movesTable .table-container {
    text-align: center;
    vertical-align: middle;
    display: table;
    width: 450px;
}

#movesTable table.table-container tbody {
    overflow: auto;
    height: 215px;
}

#movesTable table.table-container tbody td:nth-child(1), #movesTable table.table-container thead th:nth-child(1) {
    width: 34px;
}

#movesTable table.table-container tbody td:not(:first-child), #movesTable table.table-container thead th:not(:first-child) {
    width: 104px;
}

#movesTable table.table-container thead, #movesTable table.table-container tbody {
    float: left;
}

#movesTable .table-container td, #movesTable .table-container th {
    padding-bottom: .5%;
    padding-top: .5%;
    padding-left: .5%;
}

#movesTable .table-container th h1 {
    font-weight: bold;
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95px;
    text-align: center;
}

#movesTable .table-container th {
    background-color: #2b2b2b;
}

#movesTable .table-container th:nth-child(1) h1 {
    color: white;
    width: 30px;
}

#movesTable .table-container th:nth-child(2) h1, #movesTable .table-container th:nth-child(5) h1 {
    color: #46BCDE;
}

#movesTable .table-container th:nth-child(3) h1, #movesTable .table-container th:nth-child(4) h1 {
    color: #FB667A;
}

#movesTable .table-container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    text-align:center;
    vertical-align:middle;
}

#movesTable .table-container td:nth-child(even) {
    background-color: #464646;
}

#movesTable .table-container td:nth-child(odd) {
    background-color: #3D3D3D;
}

#movesTable .table-container td:nth-child(1) {
    background-color: #2b2b2b;
}

#movesTable .table-container td:hover {
    color: #d85000;
    font-weight: bold;
}

#board1:hover {
    cursor: pointer;
}

.highlight-white {
    background-color: rgba(255,255,0,.6);
}

.highlight-black {
    background-color: rgba(255,255,0,.6);
}

.promotion_piece {
    width: 62px;
    height: 62px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #b0b0b0;
    box-shadow: inset 0 0 25px 3px #808080;
    transition: all .2s ease;
}

.promotion_piece:hover {
    cursor: pointer;
    box-shadow: inset 0 0 48px 8px #d85000;
    border-radius: 0;
}

.promotion_box {
    position: absolute;
    z-index: 1000;
    width: 62px;
}

#white_promotion {
    display: none;
}

#black_promotion {
    display: none;
}
