.cancel-button {
	position:fixed;
	top: 70%;
	left: 50%;
	margin-left: -58px;
}
.spinner-text {
	position:fixed;
	width:100%;
	text-align: center;
	top: 60%;
}
.spinner-animation {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -50px;
}
.spinner-outer-circle {
	background-color: rgba(0,0,0,0);
	border: 5px solid rgba(0, 183, 229, 0.9);
	opacity: 0.9;
	border-right: 5px solid rgba(0,0,0,0);
	border-left: 5px solid rgba(0,0,0,0);
	border-radius: 100px;
	box-shadow: 0 0 35px #2187e7;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	-webkit-animation: spinPulse 1s infinite linear;
	-moz-animation: spinPulse 1s infinite linear;
}
.spinner-inner-circle {
	background-color: rgba(0,0,0,0);
	border: 5px solid rgba(0, 183, 229, 0.9);
	opacity: 0.9;
	border-right: 5px solid rgba(0,0,0,0);
	border-left: 5px solid rgba(0,0,0,0);
	border-radius: 100px;
	box-shadow: 0 0 15px #2187e7;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	position: relative;
	top: -90px;
	-webkit-animation: spinoffPulse 1s infinite linear;
	-moz-animation: spinoffPulse 1s infinite linear;
}
@-webkit-keyframes spinPulse {
	0% {
		-webkit-transform: rotate(160deg);
		opacity: 0;
		box-shadow: 0 0 1px #2187e7;
	}
	50% {
		-webkit-transform: rotate(145deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-320deg);
		opacity: 0;
	}
}
@-moz-keyframes spinPulse {
	0% {
		-webkit-transform: rotate(160deg);
		opacity: 0;
		box-shadow: 0 0 1px #2187e7;
	}
	50% {
		-webkit-transform: rotate(145deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-320deg);
		opacity: 0;
	}
}
@-webkit-keyframes spinoffPulse {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinoffPulse {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
