<div class="container-fluid" style="margin-top: 2em">
    <div id="infoPanel" class="col-md-4">
        <div id="infoPlayers" style="text-align: center">
            <h4 class="brighter-color" style="text-decoration: underline">{{game.minutes + '+' + game.increment + ', ' +
                getInfoFormat(game.minutes) + ', ' + game.mode}}</h4>
            <div>
                <img src="../img/chesspieces/wikipedia/wK.png" alt="White" width="20px" height="20px">
            <span class="align-player-info blue-color">
                {{game.player1.username + ' (' + getRating(game.player1, game) + ')'}}</span>
                <img src="../img/chesspieces/wikipedia/bK.png" alt="Black" width="20px" height="20px">
            <span class="align-player-info blue-color">
                {{game.player4.username + ' (' + getRating(game.player4, game) + ')'}}</span>
                <p class="brighter-color" style="top: 7px; position: relative">versus</p>
                <img src="../img/chesspieces/wikipedia/bK.png" alt="Black" width="20px" height="20px">
            <span class="align-player-info red-color" >
                {{game.player2.username + ' (' + getRating(game.player2, game) + ')'}}</span>
                <img src="../img/chesspieces/wikipedia/wK.png" alt="White" width="20px" height="20px">
            <span class="align-player-info red-color">
                {{game.player2.username + ' (' + getRating(game.player3, game) + ')'}}</span>
            </div>
        </div>
        <br>
        <div id="movesTable">
            <table class="table-container">
                <thead>
                    <tr>
                        <th><h1>#</h1></th>
                        <th><h1>{{game.player1.username}}</h1></th>
                        <th><h1>{{game.player2.username}}</h1></th>
                        <th><h1>{{game.player3.username}}</h1></th>
                        <th><h1>{{game.player4.username}}</h1></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="move in movesArray track by $index">
                        <td>{{move.number}}</td>
                        <td>{{move.player1}}</td>
                        <td>{{move.player2}}</td>
                        <td>{{move.player3}}</td>
                        <td>{{move.player4}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="game-left" class="col-md-4">
        <div class="container-fluid align-name-clock-top">
            <h3 class="left-game-top-username">
                {{display.player2.username + ' (' + getRating(display.player2, game) + ')'}}</h3>
            <h3 id="yourOpponentTime" class="left-game-clock">{{getDurationFormat(game.minutes * 60)}}</h3>
        </div>
        <div id="yourOpponentReserve"></div>
        <div id="white_promotion" class="promotion_box">
            <img src="../img/chesspieces/wikipedia/wQ.png" class="promotion_piece" ng-click="selectPromotionPiece('wQ')">
            <img src="../img/chesspieces/wikipedia/wN.png" class="promotion_piece" ng-click="selectPromotionPiece('wN')">
            <img src="../img/chesspieces/wikipedia/wR.png" class="promotion_piece" ng-click="selectPromotionPiece('wR')">
            <img src="../img/chesspieces/wikipedia/wB.png" class="promotion_piece" ng-click="selectPromotionPiece('wB')">
        </div>
        <div id="black_promotion" class="promotion_box">
            <img src="../img/chesspieces/wikipedia/bQ.png" class="promotion_piece" ng-click="selectPromotionPiece('bQ')">
            <img src="../img/chesspieces/wikipedia/bN.png" class="promotion_piece" ng-click="selectPromotionPiece('bN')">
            <img src="../img/chesspieces/wikipedia/bR.png" class="promotion_piece" ng-click="selectPromotionPiece('bR')">
            <img src="../img/chesspieces/wikipedia/bB.png" class="promotion_piece" ng-click="selectPromotionPiece('bB')">
        </div>
        <div id="board1" style="width: 500px"></div>
        <div id="yourReserve"></div>
        <div class="align-name-clock-bottom">
            <h3 class="left-game-bottom-username">
                {{display.player1.username + ' (' + getRating(display.player1, game) + ')'}}</h3>
            <h3 id="yourTime" class="left-game-clock">{{getDurationFormat(game.minutes * 60)}}</h3>
        </div>
    </div>
    <div id="game-right" class="col-md-4">
        <div class="container-fluid align-name-clock-top">
            <h3 class="right-game-top-username">
                {{display.player3.username + ' (' + getRating(display.player3, game) + ')'}}</h3>
            <h3 id="opponentAcrossTime" class="right-game-clock">{{getDurationFormat(game.minutes * 60)}}</h3>
        </div>
        <div id="opponentAcrossReserve">
        </div>
        <div id="board2" style="width: 500px"></div>
        <div id="teammateReserve"></div>
        <div class="align-name-clock-bottom">
            <h3 class="right-game-bottom-username">
                {{display.player4.username + ' (' + getRating(display.player4, game) + ')'}}</h3>
            <h3 id="teammateTime" class="right-game-clock">{{getDurationFormat(game.minutes * 60)}}</h3>
        </div>
    </div>
</div>
<script src="../js/libraries/countdowntimer.js"></script>