<ul class="nav navbar-nav navbar-right" id="loadNavbar">
    <li><a href="/#/myprofile">My Profile</a></li>
    <li><a href="/#/editprofile">Edit Profile</a></li>
    <li><a href="/#/mygames">My Games</a></li>
    <li><a href="/#/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
<ul class="nav navbar-nav navbar-right" id="originalNavbar">
    <li><a href="/#/register">Register</a></li>
    <li class="dropdown-toggle" data-toggle="dropdown">
        <a href="#" onClick="return false;">Login<span class="caret"></span></a>
    </li>
    <div class="dropdown-menu">
        <div class="col-sm-12">
            <div class="col-sm-12">
                Login
            </div>
            <div class="col-sm-12">
                <input type="text" placeholder="Username" class="form-control input-sm" id="loginUsername" ng-model="login.username" />
            </div>
            <br>
            <div class="col-sm-12">
                <input type="password" placeholder="Password" class="form-control input-sm" id="loginPassword" ng-model="login.password"/>
            </div>
            <div class="col-sm-12">
                <button type="button" ng-click="userLogIn()" class="btn btn-primary btn-sm">Sign in
                    <span class="glyphicon glyphicon-log-in"></span></button>
            </div>
        </div>
    </div>
</ul>