<div class="container-fluid brighter-color">
    <h3 class="brighter-color" style="text-decoration: underline">Register</h3>

    <form class="form-horizontal" role="form" name="registerForm" ng-submit="submitRegisterForm()"
          novalidate>
        <div class="form-group">
            <div class="col-xs-3"
                 ng-class="{'has-error' : registerForm.registerUsername.$invalid && registerForm.registerUsername.$touched}">
                <input type="text" class="form-control" id="registerUsername" name="registerUsername"
                       ng-model="registerData.username" placeholder="Username" ng-minlength="4" ng-maxlength="15"
                       ng-change="checkUsernameAvailability()" required>
                <p class="red-color" ng-show="registerForm.registerUsername.$error.minlength && registerForm.registerUsername.$touched"
                   class="help-block">Username is too short.</p>
                <p class="red-color" ng-show="registerForm.registerUsername.$error.maxlength && registerForm.registerUsername.$touched"
                   class="help-block">Username is too long.</p>
                <p id="usernameAvailability" class="red-color" ng-show="!registerForm.registerUsername.$error.minlength
                 && !registerForm.registerUsername.$error.maxlength">Username not available</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3"
                 ng-class="{'has-error' : registerForm.registerPassword.$invalid && registerForm.registerPassword.$touched}">
                <input type="password" class="form-control" id="registerPassword" name="registerPassword"
                       ng-model="registerData.password" placeholder="Password" ng-minlength="6" ng-maxlength="25"
                       required>
                <p class="red-color" ng-show="registerForm.registerPassword.$error.minlength && registerForm.registerPassword.$touched"
                   class="help-block">Password is too short.</p>
                <p class="red-color" ng-show="registerForm.registerPassword.$error.maxlength && registerForm.registerPassword.$touched"
                   class="help-block">Password is too long.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3"
                 ng-class="{'has-error' : registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$touched}">
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                       placeholder="Re-enter password" ng-model="registerData.confirmPassword" pw-check="registerPassword" required>
                <p class="red-color" ng-show="registerForm.confirmPassword.$error.pwmatch" class="help-block">Passwords don't match</p>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-xs-6">
                <div id="captcha"></div>
                <input type="text" class="form-control" id="captchaText" ng-model="registerData.captchaText"
                       placeholder="CAPTCHA text" style="width: 246px; display: inline-block" required>
                <button type="button" class="btn btn-info" ng-click="newCaptcha()" style="width: 150px; display: inline-block">New CAPTCHA</button>
            </div>

        </div>
        <br>
        <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Submit</button>

    </form>
</div>